@import "tailwindcss";

* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #1f2937;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background: #374151;
}

button {
    cursor: pointer;
    font-family: monospace;
}
input::placeholder {
    color: #374151;
}
